@import "./UISystem.scss";

nav {
  padding: $s;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  ul {
    display: flex;
    display: none;
    list-style-type: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  a {
    text: {
      transform: capitalize;
      decoration: none;
    }
  }
}

.logo {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-self: center;
  img {
    width: 180px;
  }
  h1 {
    font: {
      family: "Gopher";
      size: $xl;
    }
    text: {
      transform: uppercase;
    }
    color: $brown900;
  }

  span {
    font: {
      family: "Montserrat Regular";
      size: $s;
    }
    text: {
      transform: capitalize;
    }
    color: $brown900;
  }
}

footer {
  flex: 0 0 30%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  row-gap: $l;

  article {
    &:first-of-type {
      ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        column-gap: $m;
      }
      a {
        color: $brown900;
      }
    }
    &:last-of-type {
      flex: 0 0 50%;
      background: {
        image: url("../assets//img//scene.png");
        size: cover;
      }
    }
  }
}

main {
  flex: 1 1 100%;
}

.about {
  padding: $m;
  display: flex;
  flex-flow: column nowrap;
  row-gap: $h;

  article {
    display: flex;
    flex-flow: column nowrap;
    row-gap: $m;
  }

  img {
    // filter: hue-rotate(180deg);
    // -webkit-mask-image: url('../assets/img/mask.svg');
    // -webkit-mask-repeat: no-repeat;
  }
  h3 {
    color: $brown900;
    font: {
      family: "Montserrat Bold";
      size: $xxl;
    }
    border-left: $xxs solid $pink900;
    padding-left: $s;
  }
}

.blog-carousel {
  padding: $m;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  column-gap: $xs;
  article {
    background-color: white;
    flex: 0 0 100%;
    min-height: 350px;
    display: flex;
    flex-flow: column nowrap;
    border: 2px solid rgba($orange900, 0.3);
    border-radius: $xxs;

    div {
      &:first-of-type {
        transition: background-size 0.3s;
        flex: 0 0 50%;
        background: {
          size: cover;
          repeat: no-repeat;
        }

        border-top: {
          left-radius: $xxs;
          right-radius: $xxs;
        }
      }
      &:last-of-type {
        display: flex;
        flex-flow: column nowrap;
        row-gap: $xxs;
        padding: $s;
        span {
          font: {
            size: $xs;
          }
          border-left: 2px solid rgba($pink900,1  );
          padding-left: $xxs;
        }
        h3 {
          color: $pink900;
          font: {
            family: "Montserrat Bold";
            size: $l;
          }
          border-bottom: 2px solid rgba($pink900,0.2);
          padding-bottom: $xxs;
        }
        p {
          font: {
            size: $s;
          }
        }
      }
    }
  }
}
