@import "./UISystem.scss";

.blog {
  h2 {
    align-self: center;
    padding-left: $xh;
    font: {
      size: $l;
    }
    text: {
      // transform: uppercase;
    }
  }
  div {
    max-width: 850px;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: $m;
    padding: {
      left: $xh;
      right: $xh;
      bottom: $xh;
      top: $m;
    }
  }

  article {
    cursor: pointer;
    display: flex;
    flex-flow: column nowrap;
    row-gap: $xxs;
    padding: $h $s;
    scroll-snap-align: center;
    border: 2px solid rgba($purple900, 0.2);
    border-radius: $xxs;
    flex: 0 0 clamp(220px, 250px, 80%);
    &:hover {
      transition: all 0.3s;
      transform: scale(1.1);
      background-color: rgba($purple500, 0.2);
    }

    h3 {
      color: $purple900;
      font-family: "Roboto Bold";
    }
    p {
      font: {
        size: $s;
        family: "Roboto Light";
      }
      color: black;
      &:last-of-type {
        font: {
          family: "Roboto Black";
          size: $xs;
        }
        color: $purple500;
      }
    }

    span {
      align-self: flex-end;
      margin-top: auto;
      font: {
        size: $xs;
        family: "Roboto Regular";
      }
      color: black;
    }
  }
}

.spotify-player {
  margin-top: $xh;
  display: flex;
  justify-content: center;
  padding: $h;
  position: relative;
  iframe {
    border-radius: 12px;
    max-width: 550px;
  }

  div {
    position: absolute;
    // border: 2px solid red;
    z-index: 1;
    left: 55%;
    top: -49%;
  }
}
.hero,
nav {
  padding: $h;
}
nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  a {
    color: $purple900;
    text: {
      decoration: none;
      transform: capitalize;
    }
    font: {
      family: "Roboto Black";
      size: $l;
    }
  }
}

header,
footer {
  width: 100%;
}
.logo {
  flex: 0 0 33%;
  color: black;
  text: {
    transform: uppercase;
    decoration: none;
  }
  font-family: "Gopher Bold";
  div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: $xh;
    padding: $xxs;
    aspect-ratio: 1;
    // background-color: $pink900;
    border-radius: 100%;
    overflow: visible;
  }
  h1 {
    color: $brown900;
  }
}

.hero {
  display: flex;
  flex-flow: row nowrap;
  h2 {
    font: {
      size: $h;
    }
  }
  article {
    display: inherit;
    &:first-of-type {
      flex: 1 1 40%;
      flex-flow: column nowrap;
      row-gap: $m;
      p {
        max-width: 35ch;
        font: {
          family: "Roboto Light";
        }
      }
      a {
        display: inline-flex;
        align-items: center;
        margin-top: $xxl;
        column-gap: $xxs;
        background-color: $purple500;
        padding: $s $xxl;
        align-self: flex-start;
        color: $pink100;
        border-radius: $s;
        text: {
          decoration: none;
          transform: capitalize;
        }
        svg {
          display: inherit;
          font: {
            size: $xl;
          }
        }
      }
    }
    &:last-of-type {
      flex: 1 1 60%;
      display: flex;
      justify-content: center;
      div {
        background-color: $purple500;
        padding: $xh;
        border-radius: 50%;
        height: 350px;
        aspect-ratio: 1;
        position: relative;
        svg {
          position: absolute;
          background-color: $pink500;
          padding: $s;
          border-radius: 50%;
          color: $pink100;
          z-index: 1;
          font: {
            size: $xh;
          }
          &:first-of-type {
            left: -5%;
          }
          &:nth-of-type(2) {
            left: 15%;
          }
          &:last-of-type {
            left: 50%;
          }
        }
        img {
          position: absolute;
          top: -5%;
          left: -5%;
          width: 350px;
          filter: drop-shadow(5px 5px 5px rgba(black, 0.4));
        }
      }
    }
    // border: 2px solid red;
  }
}

.we-are-open {
  display: block;
  div {
    position: relative;
  }
  span {
    position: absolute;
    height: $xl;
    aspect-ratio: 1;
    background-color: $green900;
    border-radius: 50%;

    &:first-of-type {
      animation: pulsatingLight 2.5s linear 0.3s infinite alternate forwards;
    }
    &:nth-of-type(2) {
      background-color: transparent;
      border: 2px solid $green900;
      animation: pulsatingLight 2.5s linear 0s infinite reverse forwards;
    }
  }
}
@keyframes pulsatingLight {
  0% {
    opacity: 0.1;
    transform: scale(2.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.shopping-trolley {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 33%;
  cursor: pointer;
  color: $purple900;
  font: {
    size: $xxl;
  }
}

main {
  min-height: 500px;
}
footer {
  color: $brown900;
  padding: $xh $h 0 $h;
  display: flex;
  border-bottom: {
    left-radius: $h;
    right-radius: $h;
  }

  article {
    flex: 1 1 33%;
    display: flex;
    flex-flow: column nowrap;
    row-gap: $xxs;
    &:first-of-type {
      h2 {
        padding-bottom: $m;
      }
      span {
        font: {
          family: "Roboto Bold";
        }
      }
      p {
        &:last-child {
          display: inherit;
          flex-flow: row wrap;
          column-gap: $xxxl;
          margin-top: $m;
          a {
            text: {
              decoration: none;
              transform: uppercase;
            }
            font: {
              size: $s;
              family: "Roboto Bold";
            }
            color: $brown900;
          }
        }
      }
    }
    &:nth-of-type(2) {
      display: inherit;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      h3 {
        font: {
          family: "Gopher Bold";
        }
      }
      a {
        color: $brown900;
        border: 1px solid $brown900;
        padding: $xxs;
        border-radius: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        aspect-ratio: 1;

        &:hover {
          transition: all 0.3s;
          background-color: $brown900;
          color: $pink500;
        }
      }
      div {
        display: inherit;
        column-gap: $m;
        svg {
          font: {
            size: $xl;
          }
        }
      }
      row-gap: $m;
      padding-bottom: $h;
    }
    &:last-of-type {
      display: inherit;
      flex-flow: row nowrap;
      img {
        width: 350px;
        height: auto;
      }
    }
  }
  background-color: $pink500;
}

h2 {
  font: {
    family: "Gopher Bold";
  }
  text: {
    transform: capitalize;
  }
}

.about {
  display: flex;
  flex-flow: row wrap;
  padding: $h;
  article {
    display: inherit;
    flex-flow: inherit;
    row-gap: $m;
    flex: 0 0 50%;
    border: 2px dashed red;
  }
  h3 {
    font: {
      family: "Gopher Bold";
      size: $h;
    }
    max-width: 15ch;
    color: $purple500;
  }
  p {
    max-width: 55ch;
  }
}
