@font-face {
  font-family: "Gopher Bold";
  src: url("../fonts/Gopher-Bold.ttf");
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto Thin";
  src: url("../fonts/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto Black";
  src: url("../fonts/Roboto-Black.ttf");
}
/* Font Sizes */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
}

body {
  background: linear-gradient(360deg, hsl(232, 100%, 96%) 0%, hsl(334, 100%, 95%) 100%);
  background: -moz-linear-gradient(360deg, hsl(232, 100%, 96%) 0%, hsl(334, 100%, 95%) 100%);
  background: -webkit-linear-gradient(360deg, hsl(232, 100%, 96%) 0%, hsl(334, 100%, 95%) 100%);
}

#root {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 48px;
  background-color: #fffafe;
  color: black;
  border-radius: 48px;
  width: 1200px;
  font-family: "Roboto Regular";
}

.blog h2 {
  align-self: center;
  padding-left: 60px;
  font-size: 18px;
}
.blog div {
  max-width: 850px;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 16px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  padding-top: 16px;
}
.blog article {
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 14px;
  padding: 48px 14px;
  scroll-snap-align: center;
  border: 2px solid rgba(66, 82, 219, 0.2);
  border-radius: 7px;
  flex: 0 0 clamp(220px, 250px, 80%);
}
.blog article:hover {
  transition: all 0.3s;
  transform: scale(1.1);
  background-color: rgba(159, 166, 229, 0.2);
}
.blog article h3 {
  color: #4252db;
  font-family: "Roboto Bold";
}
.blog article p {
  font-size: 14px;
  font-family: "Roboto Thin";
  color: black;
}
.blog article p:last-of-type {
  font-family: "Roboto Black";
  font-size: 12px;
  color: #9fa6e5;
}
.blog article span {
  align-self: flex-end;
  margin-top: auto;
  font-size: 12px;
  font-family: "Roboto Bold";
  color: #9fa6e5;
}

.spotify-player {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  padding: 48px;
  position: relative;
}
.spotify-player iframe {
  border-radius: 12px;
  width: 800px;
  height: 450px;
}
.spotify-player div {
  position: absolute;
  z-index: 1;
  left: 65%;
  top: -59px;
}

.hero,
nav {
  padding: 48px;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: relative;
}
nav a {
  color: #4252db;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Roboto Black";
  font-size: 18px;
}

.copyright {
  position: absolute;
  right: 0;
  top: 250px;
  transform: rotate(90deg);
}
.copyright a {
  text-transform: lowercase;
}

header,
footer {
  width: 100%;
}

.logo {
  flex: 0 0 33%;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Gopher Bold";
}
.logo div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 60px;
  padding: 7px;
  aspect-ratio: 1;
  border-radius: 100%;
  overflow: visible;
}
.logo h1 {
  color: #644028;
}

.hero {
  display: flex;
  flex-flow: row nowrap;
}
.hero h2 {
  font-size: 48px;
}
.hero article {
  display: inherit;
}
.hero article:first-of-type {
  flex: 1 1 40%;
  flex-flow: column nowrap;
  row-gap: 16px;
}
.hero article:first-of-type p {
  max-width: 35ch;
  font-family: "Roboto Thin";
}
.hero article:first-of-type a {
  display: inline-flex;
  align-items: center;
  margin-top: 30px;
  column-gap: 7px;
  background-color: #9fa6e5;
  padding: 14px 30px;
  align-self: flex-start;
  color: #fffafe;
  border-radius: 14px;
  text-decoration: none;
  text-transform: capitalize;
}
.hero article:first-of-type a svg {
  display: inherit;
  font-size: 20px;
}
.hero article:last-of-type {
  flex: 1 1 60%;
  display: flex;
  justify-content: center;
  position: relative;
}
.hero article:last-of-type div:first-of-type {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 30px;
}
.hero article:last-of-type div:last-of-type {
  background-color: rgba(159, 166, 229, 0.3);
  outline: 3px dotted rgba(159, 166, 229, 0.3);
  outline-offset: 48px;
  padding: 60px;
  border-radius: 50%;
  height: 350px;
  aspect-ratio: 1;
  position: relative;
}
.hero article:last-of-type div:last-of-type img {
  position: absolute;
  top: -5%;
  left: -5%;
  width: 350px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4));
  z-index: 2;
}

.shopping-trolley {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 33%;
  cursor: pointer;
  color: #4252db;
  font-size: 30px;
}

main {
  min-height: 500px;
}

footer {
  color: #644028;
  padding: 60px 48px 0 48px;
  display: flex;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
  background-color: #f3bfb6;
}
footer article {
  flex: 1 1 33%;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 7px;
}
footer article:first-of-type h2 {
  padding-bottom: 16px;
}
footer article:first-of-type span {
  font-family: "Roboto Bold";
}
footer article:nth-of-type(2) {
  display: inherit;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: 16px;
  padding-bottom: 48px;
}
footer article:nth-of-type(2) h3 {
  font-family: "Gopher Bold";
}
footer article:nth-of-type(2) div {
  display: inherit;
  column-gap: 16px;
}
footer article:nth-of-type(2) div svg {
  font-size: 20px;
}
footer article:nth-of-type(2) div a {
  color: #644028;
  border: 1px solid #644028;
  padding: 7px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  aspect-ratio: 1;
}
footer article:nth-of-type(2) div a:hover {
  transition: all 0.3s;
  background-color: #644028;
  color: #f3bfb6;
}
footer article:nth-of-type(2) p {
  border-top: 2px solid #644028;
  display: inherit;
  flex-flow: row wrap;
  column-gap: 20px;
  margin-top: 16px;
}
footer article:nth-of-type(2) p a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Roboto Bold";
  color: rgba(100, 64, 40, 0.6);
  border: 2px dashed transparent;
  padding-top: 12px;
}
footer article:nth-of-type(2) p a:hover {
  transition: all 0.3s;
  color: #644028;
  transform: scale(1.1);
}
footer article:last-of-type {
  display: inherit;
  flex-flow: row nowrap;
}
footer article:last-of-type img {
  width: 350px;
  height: auto;
}

h2 {
  font-family: "Gopher Bold";
  text-transform: capitalize;
}

.about {
  display: flex;
  flex-flow: row wrap;
  padding: 48px;
}
.about article {
  display: inherit;
  flex-flow: inherit;
  row-gap: 16px;
  flex: 0 0 50%;
  border: 2px dashed red;
}
.about h3 {
  font-family: "Gopher Bold";
  font-size: 48px;
  max-width: 15ch;
  color: #9fa6e5;
}
.about p {
  max-width: 55ch;
}

/*# sourceMappingURL=App.css.map */
