@import "./UISystem.scss";

section {
  min-width: 850px;
  margin: {
    top: $xh;
    bottom: $xh;
  }
}
.blog {
  position: relative;
  h2 {
    padding-bottom: $xh;
    font: {
      size: $l;
    }
  }
  div {
    max-width: 850px;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: $m;
    border-radius: $xxs;
    ::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-shadow: inset 28px 0 10px -1px rgba($purple500, 0.1),
      inset -28px 0 10px -1px rgba($purple500, 0.1);
  }

  article {
    cursor: pointer;
    display: flex;
    flex-flow: column nowrap;
    row-gap: $s;
    padding: $h $s;
    scroll-snap-align: center;
    border: 2px solid rgba($purple500, 0.2);
    border-radius: $xxs;
    flex: 0 0 clamp(220px, 250px, 80%);
    height: clamp(220px, 280px, 350px);

    &:hover {
      transition: all 0.3s;
      background-color: rgba($purple500, 0.1);
      // box-shadow: 0 0 $s $xxs #2e5bff1a;
    }

    h3 {
      color: $purple500;
      font-family: "Roboto Bold";
    }
    p {
      display: inline-flex;
      font: {
        size: $s;
        family: "Roboto Thin";
      }
      &:last-of-type {
        font: {
          family: "Roboto Black";
          size: $xs;
        }
        border-left: 5px solid $purple500;
        padding-left: $xxs;
      }
    }
    span {
      font: {
        size: $xs;
      }
      align-self: flex-end;
      margin-top: auto;
      color: $purple500;
    }
  }
}
span[data-direction] {
  position: absolute;
  color: $purple500;
  cursor: pointer;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
  font: {
    size: $xxl;
  }
  top: 55%;
  &:first-of-type {
    left: -$xh;
  }
  &:last-of-type {
    right: -$xh;
  }
}

.spotify-player {
  display: flex;
  justify-content: center;
  padding: $h;
  position: relative;

  iframe {
    border-radius: 12px;
    width: 800px;
    height: 450px;
    box-shadow: 0 $m $m $xxs #2e5bff1a;
  }

  div {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: -59px;
  }
}
nav {
  padding: $h;
}
nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: relative;
  a {
    color: $purple500;
    text: {
      decoration: none;
      transform: capitalize;
    }
    font: {
      family: "Roboto Black";
      size: $l;
    }
    &:hover {
      filter: saturate(2.1);
    }
  }
}
.copyright {
  position: absolute;
  right: 0;
  top: 250px;
  a {
    text-transform: lowercase;
  }
  transform: rotate(90deg);
}
header,
footer {
  width: 100%;
}
.logo {
  flex: 0 0 33%;
  color: black;
  text: {
    transform: uppercase;
    decoration: none;
  }
  font-family: "Gopher Bold";
  div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: $xh;
    padding: $xxs;
    aspect-ratio: 1;
    border-radius: 100%;
    overflow: visible;
  }
  h1 {
    color: $brown900;
  }
}

.hero {
  display: flex;
  flex-flow: row nowrap;
  border: 2px solid rgba($purple500, 0.3);
  border-radius: $xxs;
  h2 {
    font: {
      size: $h;
    }
  }
  article {
    &:first-of-type {
      padding: $h;
      flex: 1 1 40%;
      flex-flow: column nowrap;
      row-gap: $m;
      display: inherit;
      p {
        max-width: 35ch;
        font: {
          family: "Roboto Thin";
        }
      }
      a {
        text: {
          decoration: none;
          transform: capitalize;
        }
        svg {
          display: inherit;
          font: {
            size: $xl;
          }
        }
        box-shadow: 0 $xxs $m $xxs #2e5bff1a;
      }
    }
    &:last-of-type {
      flex: 1 1 40%;
      position: relative;
      background: linear-gradient(
        90deg,
        hsla(312, 100%, 99%, 1) 0%,
        $purple500 100%
      );
      div {
        position: absolute;

        &:first-of-type {
          // display: none;
          right: 5%;
          // z-index: 1;
          svg {
            // border: 2px solid red;
            // position: absolute;
          }
        }
        &:last-of-type {
          right: $h;

          img {
            width: 350px;
            filter: drop-shadow(-$xxs $s $xxs rgba(black, 0.3));
          }
        }
      }
    }
  }
}

.shopping-trolley {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 33%;
  cursor: pointer;
  color: $purple500;
  font: {
    size: $xxl;
  }
}

main {
  min-height: 500px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
footer {
  color: $brown900;
  padding: $xh $h 0 $h;
  display: flex;
  border-bottom: {
    left-radius: $h;
    right-radius: $h;
  }

  article {
    flex: 1 1 33%;
    display: flex;
    flex-flow: column nowrap;
    row-gap: $xxs;
    &:first-of-type {
      h2 {
        padding-bottom: $m;
      }
      span {
        font: {
          family: "Roboto Bold";
        }
      }
    }
    &:nth-of-type(2) {
      display: inherit;
      flex-flow: column nowrap;
      align-items: center;
      h3 {
        font: {
          family: "Gopher Bold";
        }
      }

      div {
        display: inherit;
        column-gap: $m;
        svg {
          font: {
            size: $xl;
          }
        }
        a {
          color: $brown900;
          border: 1px solid $brown900;
          padding: $xxs;
          border-radius: 100%;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          aspect-ratio: 1;

          &:hover {
            transition: all 0.3s;
            background-color: $brown900;
            color: $pink500;
          }
        }
      }
      p {
        border-top: 2px solid rgba($brown900, 0.6);

        display: inherit;
        flex-flow: row wrap;
        column-gap: $xl;
        margin-top: $m;
        a {
          text: {
            decoration: none;
            transform: uppercase;
          }
          font: {
            size: $s;
            family: "Roboto Bold";
          }

          color: rgba($brown900, 0.6);
          border: 2px dashed transparent;
          padding-top: $xs;
          &:hover {
            transition: all 0.3s;
            color: $brown900;
            transform: scale(1.1);
          }
        }
      }
      row-gap: $m;
      padding-bottom: $h;
    }
    &:last-of-type {
      display: inherit;
      flex-flow: row nowrap;
      img {
        width: 350px;
        height: auto;
      }
    }
  }
  background-color: $pink500;
}

.btn {
  display: inline-flex;
  align-items: center;
  margin-top: $xxl;
  column-gap: $xxs;
  background-color: $purple500;
  padding: $s $xxl;
  align-self: flex-start;
  color: $pink100;
  border-radius: $s;
  transition: all 0.3s;
  &:hover {
    filter: saturate(2.1);
  }
}

h2 {
  font: {
    family: "Gopher Bold";
  }
  text: {
    transform: capitalize;
  }
}

.about {
  display: flex;
  flex-flow: row wrap;
  padding: $h;

  article {
    display: inherit;
    flex: 0 0 50%;
    &:first-of-type {
      flex-flow: inherit;
      row-gap: $m;
      h3 {
        margin-top: $h;
        font: {
          family: "Gopher Bold";
          size: $h;
        }
        max-width: 15ch;
        color: $purple500;
      }
      p {
        max-width: 50ch;
      }
    }
    &:last-of-type {
      flex: 0 0 50%;
      flex-flow: row wrap;
      align-content: flex-end;
      justify-content: center;
      row-gap: $xxs;
      column-gap: $xxs;

      div {
        flex: 0 0 25%;
        height: 200px;
        border-radius: $xxs;
        overflow: hidden;
        transition: all 0.3s;
        &:nth-of-type(3n-1) {
          filter: grayscale(1);
        }
        &:nth-of-type(2n) {
          flex: 0 0 60%;
        }
        &:nth-of-type(3n + 1) {
          filter: hue-rotate(90deg);
        }
        &:last-of-type {
          flex: 0 0 100%;
          height: 350px;
          img {
            width: 100%;
          }
        }
        img {
        }
      }
    }
  }
}

.blog-article {
  min-height: 1000px;
  column-count: 2;
  column-width: 14em;
  column-gap: $xh;
  max-width: 800px;
  border: 2px solid rgba($purple500, 0.2);
  border-radius: $s;
  padding: $xh $h;
  h3 {
    color: black;
    border-bottom: 3px solid $purple500;
    padding-bottom: $s;
    font: {
      size: $xh;
      family: "Roboto Black";
    }
    margin-bottom: $s;
  }
  span {
    font: {
      family: "Roboto Bold";
    }
    &:first-of-type {
      display: block;
      padding-bottom: $m;
      font: {
        size: $xs;
      }

      column-span: all;
      text-align: right;
    }
    &:nth-of-type(2) {
      display: inline-block;

      font: {
        family: "Roboto Thin";
        size: $xxl;
      }
      padding-bottom: $m;
    }
    &:last-of-type {
      display: inline-block;
      color: $purple500;
      border-left: 5px solid $purple500;
      padding-left: $xxs;
    }
  }
  p {
    &:first-of-type {
      padding-top: $h;
      &::first-letter {
        font: {
          size: $xxxl;
          family: "Roboto Bold";
        }
      }
    }
    text-align: justify;
    padding-bottom: $xxl;
  }
  img {
    width: 100%;
    padding-top: $xh;
  }
}

.menu {
  display: flex;
  flex-flow: row nowrap;
  width: 850px;
  min-height: 550px;
  border: 2px solid $pink500;
  border-radius: $xxs;

  article {
    flex: 0 0 50%;
    &:first-of-type {
      padding: $h;
      background: url("../img/background_mask.svg") $pink500;
      animation: sliding-background 30s linear infinite;

      h2 {
        margin-bottom: $xl;
        padding-bottom: $xs;

        font: {
          size: $xxl;
        }
      }
      div {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: space-between;
        row-gap: $xxs;
        border-bottom: 2px solid rgba($brown900, 0.6);
        padding: 0;
        margin: 0;

        button {
          cursor: pointer;
          margin-bottom: -3px;
          background-color: transparent;
          padding: $xxs $s;
          font: {
            size: $l;
          }
          text: {
            transform: capitalize;
          }
        }
      }
      table {
        width: 100%;
        margin-top: $m;
        color: $brown900;

        th {
          visibility: hidden;
        }
        tr {
          cursor: pointer;
          &:hover {
            td {
              &:first-of-type {
                transition: all 0.3s;
                transform: translateX($s);
                color: black;
              }
            }
          }
        }
        td {
          padding-bottom: $xxs;
          vertical-align: top;

          &:first-of-type {
            display: inline-flex;
            flex-flow: column nowrap;
            text-align: start;
            font: {
              family: "Gopher Bold";
            }
            text: {
              transform: capitalize;
            }
            span {
              font: {
                family: "Roboto Thin";
                size: $s;
              }
            }
          }
          &:last-of-type {
            text-align: end;
            font: {
              family: "Roboto Regular";
            }
          }
        }
      }
    }
    &:last-of-type {
      position: relative;
      padding: $h;
      img {
        width: 200px;
        position: absolute;
        
        bottom:0;
        left: calc(-1.5*#{$h});
        filter: drop-shadow(-$xxs $s $xxs rgba(black, 0.3));
      }
      table{
        background-color: rgba(black,0.01);
        padding:$l;
        width: 100%;
        th{
          visibility: hidden;
        }
      }
    }
  }
}

.active {
  border: none;
  border-bottom: 4px solid transparent;
  font: {
    family: "Roboto Black";
  }

  border-color: $brown900;
}
.inactive {
  border: none;
  color: $brown900;

  font: {
    family: "Roboto Thin";
  }
  svg {
    color: $brown900;
  }
}

@keyframes sliding-background {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -500px;
  }
}
