// Fonts
@font-face {
  font-family: "Gopher Bold";
  src: url("../fonts/Gopher-Bold.ttf");
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}
// Colours
$purple900: #4252dbff;
$purple500: #9fa6e5;
$pink900: #ff8cc3ff;
$pink500: #f3bfb6ff;
$pink100: #fffafeff;
$brown900: #644028ff;
$orange900: #e9846bff;
$green900: #749e81ff;
$white900: #f1f1fcff;

/* Font Sizes */
$xxs: 7px;
$xs: 12px;
$s: 14px;
$m: 16px;
$l: 18px;
$xl: 20px;
$xxl: 24px;
$xxl: 30px;
$xxxl: 36px;
$h: 48px;
$xh: 60px;
$xxh: 72px;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
}

body {
  background: linear-gradient(
    360deg,
    hsla(232, 100%, 96%, 1) 0%,
    hsla(334, 100%, 95%, 1) 100%
  );

  background: -moz-linear-gradient(
    360deg,
    hsla(232, 100%, 96%, 1) 0%,
    hsla(334, 100%, 95%, 1) 100%
  );

  background: -webkit-linear-gradient(
    360deg,
    hsla(232, 100%, 96%, 1) 0%,
    hsla(334, 100%, 95%, 1) 100%
  );
}

#root {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: $h;
  background-color: $pink100;
  color: black;
  border-radius: $h;
  width: 1200px;
  font: {
    family: "Roboto Regular";
  }
}
